name: RuboCop

on:
  push:
    branches:
      - master

  pull_request:

permissions:
  contents: read

jobs:
  rubocop:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.4.1'

    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run RuboCop
      run: bundle exec rubocop --config .rubocop.yml

